<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <!-- <div class="container"> -->
    <a class="navbar-brand" href="#">Pantry</a>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/home']" > Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/fridge']" > Fridge</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/freezer']" > Freezer</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/pantry']" > Pantry</a>
          </li>
        <li class="nav-item">
          <a href="" (click)="logout()" class="nav-link">Logout</a>
        </li>

      </ul>

      <div *ngIf="loggedIn()" class="dropdown" dropdown >
        <a class="dropdown-toggle text-light" dropdowntoggle >
          Welcome {{ authService.decodedToken?.unique_name }}
        </a>
        <div class="dropdown-menu" *dropdownMenu >
          <a class="dropdown-item" href="#" class="fa fa-user">Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" class="fa fa-sign-out">Logout</a>
        </div>
      </div>


      <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
        <input class="form-control mr-sm-2" required type="text" placeholder="Username" name="username" [(ngModel)]="model.username">
        <input class="form-control mr-sm-2" required type="password" placeholder="Password" name="password" [(ngModel)]="model.password">
        <button class="btn btn-success my-2 my-sm-0" [disabled]="!loginForm.valid" type="submit">Login</button>
      </form>

  <!-- </div> -->
</nav>